.athletes_detail {
    padding: 60px;
    color: #272727;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.athletes_detail-input {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    max-width: 918px;
    font-weight: 500;
}

.label_date, .label_type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#report_date, #report_type {
    width: 279px; /*changed */
    height: 44px;
    border-radius: 10px;
    border: 1px solid #7AC2EF;
    outline: none;
}

.generate_button {
    width: 192px;  /* changed*/
    height: 44px;
    background-color: #4EAEEA;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.athletes_detail-scan {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    max-width: 918px;
    margin-bottom: 27px;
}

.athletes_detail-scan p {
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    display: block;
    display: flex;
    align-items: center;
    background: #fff;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-left: 20px;
    line-height: 24px;
}



.athletes_detail-scan img {
    max-width: 918px;
    max-height: 220px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.athletes_detail-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 918px;
    background-color: #fff;
    padding: 20px;
    max-height: 147px;
    border-radius: 35px;
    gap: 15px;
    margin-bottom: 26px;
}

.athletes_detail-statistics h2, .athletes_detail-chart h2, .athletes_detail-interpretation h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.athletes_detail-statistics p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.athletes_detail-chart {
    padding: 20px;
    background-color: #fff;
    height: 478px;
    /* width: 918px; */
    max-height: 478px;
    max-width: 918px;
    border-radius: 35px;
    margin-bottom: 11px;
}

.athletes_detail-interpretation {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 918px;
}

.athletes_detail-interpretation p {
    color: #000;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
}

.athletes_detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background-color: #fff;
    padding: 20px 20px  50px 20px;
    border-radius: 35px;
    margin-bottom: 60px;
}

.athletes_detail-info img {
    border-radius: 50%;
    height: 100px; 
    width: 100px;
}

.athletes_detail-info h2 {
    font-weight: 500;
    font-size: 20px;
}

.athletes_detail-info .age {
    font-weight: 400;
}

.athletes_details-conclusion {
    background-color: #fff;
    padding: 20px;
    height: 510px;
    /* width: 353px; */
    max-height: 731px;
    max-width: 353px;
    border-radius: 35px;
}

.athletes_details-conclusion p {
    font-weight: 400;
    font-size: 20px;

}

@media screen and (max-width: 850px) {
    .athletes_detail-scan,
    .athletes_detail-statistics,
    .athletes_detail-chart,
    .athletes_detail-interpretation,
    .athletes_detail-conclusion p {
        font-size: 15px;
    }
}





